/*----- Google Font Styles -----*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Ubuntu:300,400,500,700');

/*----- Colours -----*/






/*----- General -----*/

.uppercase {
    text-transform: uppercase;
}




/*----- Header -----*/
.navbar {
    margin-bottom: 0;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: #000000;
    border: 0;
    font-family: 'roboto', sans-serif;
    color: #ff9f00;
}


 .navbar-toggle {
    height: 100%;
    border: 0;
    color: #ff9f00;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #ff9f00;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover{
    background-color: #CC6200;
}
.navbar-default .navbar-toggle i {
    color: #000000;
    text-align: center;
    font-size: 18px;
}


.navbar-brand img{
  height: 40px;
  margin-top: 0;
  padding-top: 0;
}

.navbar-default .navbar-nav a {
    font-weight: 300;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #CC6200;
    background-color: #000000;
}


.navbar-default .navbar-nav li a,
.navbar-default .navbar-nav li a {
    color: #ff9f00;
}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #CC6200;
    background-color: #000000;
}


.menuitem a {
    text-decoration: none;
}
.menuitem a i,
.menuitem span {
    font-size: 18px;
    text-align: center;
}


.btn-subscribe {
    background-color: #ff9f00;
    color: #000000;
    height: 100%;
    margin-right: 10px;
    font-size: 18px;
}
.btn-subscribe:focus,
.btn-subscribe:hover {
    background-color: #CC6200;
    color: #0000000;
    height: 100%;
}






/*----- Body -----*/

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}






/*----- Footer -----*/

 .footer-container {
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
    z-index: 1;
    width: 100%;
    background-color: #000000;
    border: 0;
    font-family: 'roboto', sans-serif;
    color: #ff9f00;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}


.discord-link i{
    font-size: 30px;
}


.social-media {
    padding-bottom: 15px;
}
.social-media li a i{
    width: 40px;
    height: 40px;
    padding-top: 10px;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    color: #000000;
    background: #ff9f00;
}
.social-media li a i:hover{
    background: #CC6200;
}






/*----- Home -----*/

.home-container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: url("../images/ps4-controller-home.jpg") no-repeat center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.home-container h1,
.home-container h3{
    margin-left: 40%;
}


.title-container {
    background-color: transparent;
    margin: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    color: #ff9f00;
}
.title-container h1 {
    font-weight: 700;
    margin-left: 30px;
    text-align: right;
    padding-top: 100px;
}
.title-container h3 {
    margin-left: 25px;
    text-align: right;
}
.title-container img{
    width: 25%;
    margin-left: 75%;
}


/*----- About -----*/










/*----- Reviews -----*/

/*----- News -----*/

/*----- Media -----*/

/*----- Contact -----*/

/*----- Media Queries -----*/
