/*----- Google Font Styles -----*/

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Ubuntu:300,400,500,700');





/*----- General -----*/

.uppercase {
    text-transform: uppercase;
}

.text {
    font-family: 'ubuntu', sans-serif;
    color: #ff9f00;
}

.row-table {
    display: table;
}

.content {
    position: relative;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}





/*----- Header -----*/

.navbar {
    margin-bottom: 0;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    border: 0;
    font-family: 'ubuntu', sans-serif;
    color: #ff9f00;
    padding-right: 15px;
}

/* The above style rule allows for the navbar to stay fixed at the top of the screen at all times.
This allows for easier navigation on all devices, especially on pages where there is a lot of content,
as it saves the user having to scroll all the way back to the top of the page. Have also made the navbar
slightly transparent which produces a unique effect aimed towards a positive user experience.*/

.navbar-toggle,
.navbar-default .navbar-toggle:focus {
    height: 100%;
    border: 0;
    color: #ff9f00;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #ff9f00;
    margin-right: 0;
}


.navbar-default .navbar-toggle:hover {
    background-color: #CC6200;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.navbar-default .navbar-toggle i {
    color: #000000;
    text-align: center;
    font-size: 18px;
}

.navbar-collapse {
    border: 0;
}

.navbar-logo img {
    display: block;
    height: 40px;
    margin: 10px 5px 10px 5px;
    padding-top: 0;
}

.navbar-default .navbar-nav a {
    font-weight: 300;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #CC6200;
    background-color: #000000;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}


.navbar-default .navbar-nav li a,
.navbar-default .navbar-nav li a {
    color: #ff9f00;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #CC6200;
    background-color: #000000;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}


.menuitem a {
    text-decoration: none;
}

.menuitem a i,
.menuitem span {
    font-size: 18px;
    text-align: center;
}

.btn-subscribe {
    background-color: #ff9f00;
    color: #000000;
    height: 100%;
    margin: 10px 15px;
    font-size: 18px;
    border: 0;
}

.btn-subscribe:hover {
    background-color: #CC6200;
    color: #0000000;
    height: 100%;
    border: 0;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.btn:focus,
.btn:active {
    outline: none;
    box-shadow: none;
}





/*----- Body -----*/

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.25);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/* The overlay will allow for the image in the background to appear slightly dimmed,
allowing for the user to more clearly see the main content*/

/*----- Footer -----*/

.footer-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    border: 0;
    color: #ff9f00;
    text-align: center;
    text-decoration: none;
    z-index: 1;
    font-size: 10px;
    font-family: 'ubuntu', sans-serif;
}

/* This fixed footer type allows for the footer to be located at the bottom of the screen,
no matter how long the page you are on is. This will mean that on mobile devices, 
when you are on a page with a lot of content, the social icons will always be visible*/

.social-media {
    padding-bottom: 5px;
}

.social-media li a i {
    width: 30px;
    height: 30px;
    padding-top: 5px;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    color: #000000;
    background: #ff9f00;
}

.social-media li a i:hover {
    background: #CC6200;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}





/*----- Home -----*/

.home-container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding-bottom: 500px;
    background: url("../images/ps4-controller-home.jpg") no-repeat center fixed;
    background-size: cover;
    /* background image is fixed, so if the webpage contains a lot of content, 
    it will be the content what gets scrolled, but the image stays fixed in place in the background */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    align-items: center;
    justify-content: center;
    position: relative;
}

.home-page-heading {
    font-weight: 700;
    margin-right: 25px;
    text-align: right;
    padding-top: 75px;
}

.home-page-subheading {
    margin-right: 25px;
    text-align: right;
}

.home-container img {
    width: 125px;
    float: right;
    margin-right: 25px
}





/*----- About -----*/

.about-container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding-bottom: 125px;
    background: url("../images/ps4-controller-green-light.jpg") no-repeat center fixed;
    background-size: cover;
    /* background image is fixed, so if the webpage contains a lot of content, 
    it will be the content what gets scrolled, but the image stays fixed in place in the background */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    align-items: center;
    justify-content: center;
    position: relative;
}

.about-page-heading {
    font-weight: 700;
    text-align: center;
    padding-top: 100px;
}

.about-page-subheading {
    text-align: center;
    padding-top: 10px;
}

.about-us-profile-pictures {
    width: 50%;
    padding: 10px 0;
}

.about-us-text {
    padding: 0 15px;
}





/*----- Reviews -----*/

.reviews-container {
    height: 100%;
    margin: 0;
    padding-bottom: 125px;
    background: url("../images/ps4-controller-blue.jpg") no-repeat center fixed;
    background-size: cover;
    /* background image is fixed, so if the webpage contains a lot of content, 
    it will be the content what gets scrolled, but the image stays fixed in place in the background */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    align-items: center;
    justify-content: center;
    position: relative;
}

.reviews-page-heading {
    font-weight: 700;
    text-align: center;
    padding-top: 100px;
}

.reviews-page-subheading {
    text-align: center;
}

.reviews {
    margin-top: 30px;
}

.image-center {
    display: block;
    margin: 25px auto;
    width: 75%;
}





/*----- News -----*/

.news-container {
    height: 100%;
    margin: 0;
    padding-bottom: 125px;
    background: url("../images/nintendo-switch-green.jpg") no-repeat center fixed;
    background-size: cover;
    /* background image is fixed, so if the webpage contains a lot of content, 
    it will be the content what gets scrolled, but the image stays fixed in place in the background */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

.news-page-heading {
    font-weight: 700;
    text-align: center;
    padding-top: 100px;
}

.news-page-subheading {
    text-align: center;
    padding-top: 5px;
}

.news-updates-standout {
    font-style: italic;
}

/*code for the timeline below was reused from the "Whiskey Drop" mini-project from earlier in the course*/

.news-timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #ff9f00;
    border-left: 1px solid;
}

.news-timeline-item p,
.news-timeline-item h4 {
    padding: 5px 0px;
    margin: 0;

}

.news-timeline-item::before {
    content: attr(dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    padding: 0;
    margin: 0;
}

.news-timeline-item::after {
    width: 12px;
    height: 12px;
    display: block;
    top: 3em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #ff9f00;
}

/* end of reused timeline code*/

.news-timeline {
    margin-bottom: 30px;
}





/*----- Media -----*/

.media-container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding-bottom: 125px;
    background: url("../images/playstation-wood.jpg") no-repeat center fixed;
    background-size: cover;
    /* background image is fixed, so if the webpage contains a lot of content, 
    it will be the content what gets scrolled, but the image stays fixed in place in the background */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    align-items: center;
    justify-content: center;
    position: relative;
}

.media-page-heading {
    font-weight: 700;
    text-align: center;
    padding-top: 100px;
}

.media-page-subheading {
    text-align: center;
    padding-top: 5px;
}

/* help with iframe box taken from: "https://blog.theodo.fr/2018/01/responsive-iframes-css-trick/" Author: Gregory Gan */

.video-box {
    position: relative;
    overflow: hidden;
    padding-top: 46.5%;
    margin-top: 25px;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/*end of help with iframe box */

.media-links {
    margin-top: 20px;
}





/*----- Contact -----*/

.contact-container {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding-bottom: 125px;
    background: url("../images/ps4-controller-white.jpg") no-repeat center fixed;
    background-size: cover;
    /* background image is fixed, so if the webpage contains a lot of content, 
    it will be the content what gets scrolled, but the image stays fixed in place in the background */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    align-items: center;
    justify-content: center;
    position: relative;
}

.contact-page-heading {
    font-weight: 700;
    text-align: center;
    padding-top: 100px;
}

.contact-page-subheading {
    text-align: center;
    padding-top: 5px;
    position: relative;
}

.contact-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 80%;
}

.btn-submit:focus,
.btn-submit:hover {
    background-color: #CC6200;
    color: #0000000;
}

/* help with code for attachment button below taken from "Author: Adam Bene, on - 'https://blog.benestudio.co/custom-file-upload-button-with-pure-css-5aacf39aa0a'" */

.upload-btn input[type=file] {
    font-size: 17px;
    position: relative;
    opacity: 1;
    color: #ff9f00;
    margin-top: 10px;
}

button[type="submit"] {
    background-color: #ff9f00;
    color: #000000;
    font-size: 18px;
    margin: 30px auto;
}

form label {
    padding-top: 10px;
}





/*----- Subscribe Form -----*/

/* CSS code reused from the whiskey-drop project in the bootstrap and grid system section of this course.
Have adapted the code I resused to make it relevant to this project */

.modal-header {
    border-bottom-color: #ff9f00;
}

.modal-header .btn-close {
    color: #ff9f00;
    float: right;
    background-color: #000000;
    border: 0;
    font-size: 20px;
}

.modal-content,
.modal-content p {
    background-color: #000000;
    color: #ff9f00;
    border: 1;
    border-color: #ff9f00;
}





/*----- Media Queries -----*/

@media(min-width: 768px) {
    /* sm size (everything below this is the default size set out in the style rules,
as the website is designed for mobile-first and the media queries use break-points
to adapt those rules set out already) */
    /* Header */
    .menuitem span {
        font-size: 11px;
    }
    .menuitem a i {
        font-size: 14px;
        margin-top: 9px;
    }
    .btn-sub-1 {
        font-size: 11px;
        margin: 16px 10px;
    }
    /* The above media queries make it so that when the small screen width is detected and the menu extends across from a collapse bar/button,
the menu will change the icons, text and subscribe button's size to allow them to all fit on the navbar at the current screen size*/
    /* Home Page */
    .home-container {
        padding-top: 25px;
        padding-bottom: 300px;
    }

}


@media(min-width: 960px) {
    /* md size */
    /* Header */
    .navbar {
        background-color: #000000;
    }

    .menuitem a i {
        font-size: 18px;
    }
    .menuitem span {
        font-size: 16px;
        margin-top: 10px;
    }

    .btn-sub-1 {
        font-size: 16px;
        margin: 12px 10px;
        padding-top: 10px;
    }
    /* The above media queries make it so that when the medium screen width is detected,
the icons, text and subscribe button's size will change to allow them to all fit on the navbar at the current screen size */
    /* Footer */
    .footer-container {
        position: relative;
        padding: 10px 0px;
        font-size: 16px;
        background-color: #000000;
    }

    .social-media {
        padding-bottom: 5px;
    }

    .social-media li a i {
        width: 40px;
        height: 40px;
        padding-top: 9px;
        font-size: 25px;
    }
    /*The above media query changes the social icons size slightly to make it look more aesthetically pleasing on the larger screen sizes */
    /* Home Page */
    .home-page-heading {
        margin-right: 35px;
        padding-top: 100px;
    }
    .home-page-subheading {
        margin-right: 35px;
        text-align: right;
    }
    .home-container img {
        width: 135px;
        float: right;
        margin-right: 35px
    }

    /* Reviews */
    .image-center {
        margin: 50px auto;
    }

    /* News */
    .section-column {
        padding-left: 15px;
        float: none;
        display: table-cell;
    }
    .news-timeline-item h4 {
    margin-top: 10px;
    }
    .news-timeline-item p,
    .news-timeline-item h4 {
        text-align: left;
    }


    @media(min-width: 1200px) {
        /* lg+ size*/
        /* Header */
        .menuitem a i,
        .menuitem span {
            font-size: 18px;
            margin-top: 8px;
        }

        .btn-sub-1 {
            font-size: 18px;
            margin: 11px 13px;

        }
    }
